
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    background-color: rgb(157, 10, 10);
    border: 0;
    border-radius: 7px;
    margin: 100px auto 0;
    font-size: 18px;
    box-shadow: 5px 5px 10px rgb(216, 34, 34);
    transition: 0.2s;
    margin-bottom: 10px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    color: aliceblue;
    background-color: rgb(157, 10, 10);
    border: 0;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(216, 34, 34);
    transition: 0.2s;
    margin-bottom: 10px;
}

.btn-submit{
    width: 45%;
    padding: 7.5px;
    color: aliceblue;
    background-color: rgb(157, 10, 10);
    border: 0;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(216, 34, 34);
    transition: 0.2s;
    margin-bottom: 10px;
}
.btn-submit:hover{
    color: rgb(59, 160, 232);
    background-color: aliceblue;
    box-shadow: 5px 5px 10px rgb(59, 160, 232);
    transition: 0.2s;
    cursor: pointer;
}
.btn-submit:active{
    opacity: 0.7;
}


input{
    width: 60%;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
    border: 0;
    outline-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: rgb(4, 107, 176);
    border-bottom-style: solid;
}